!!! 5
html(lang='en', ng-app='AdminApp')
head
    meta(charset='utf-8')
    title My AngularJS App
    link(rel='stylesheet', href="components/bootstrap/css/bootstrap.css")
    link(rel='stylesheet', href='css/app.css')
  body
    .container

      .navbar
        .navbar-inner
          a.brand(href="#") llprk
          ul.nav
            li
              a(href='#/products') Produkte
            li
              a(href='#/products') Bestellungen
            li
              a(href='#/categories') Kategorien

          ul.nav.pull-right
            li
              a(href='/admin/logout') Abmelden

      div(ng-view='ng-view')
        
    script(src='lib/angular/angular.js')
    script(src='lib/angular/angular-resource.js')
    script(src='components/jquery/jquery.js')
    script(src='js/app.js')

